h1,h2,h3,h4,p {
    margin: 0;
}

ul li {
    list-style: none;
  }

html, body {
    height: 100%;
}
.wpapper {
    overflow: hidden;
    height: 100%;
}


.container {
    width: 940px;
    margin: 0 auto;
}

@mixin menu {
    color: #ffffff;
    font-size:13px;
    font-weight: 500;
    font-family: ubuntu;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: initial;
}
    
.hero {
    background: url(/images/fon1.png) center center;
    height: 100vh;
    background-size: cover;
}
