
.contacts {
    background-image: url(./images/contacts/contacts_map-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.footer__content {
    margin: 0 90px;
    display: flex;
}

.footer__contact {
    @include ubuntu();
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;

    &-info {
        display: flex;
    }

    &-street {
        padding: 10px 0;
    }
}
.footer__icon {
    fill: #5a5a5a;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}


.footer__contact-contact-number {
    color:#da4d27 ;
}

.footer__contact-info-phone {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0 ;
}

.footer__social {
    width: 50%;
    display: flex;
}

.footer__social-icon-fb {
    fill: white;
}

.footer {
    background-color: black;
    color: white;
    position: absolute;
	left: 0;
	bottom: 0;
    width: 100%;
    
    &__social {
        align-self: center;
        justify-content: flex-end;
    }
}
