
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__icon {
        height: 80px;
    }
  }
  
.header__btns {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    outline: transparent;
    border: none;
    @include ubuntu();
    font-weight: 800;
    background: $red;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 15px;
}