.hero {
    background: url(./images/fon1.png) center center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    position: relative;

    &__image {
      position: relative;
    }
}

.hero__content-wrapper {
    display: flex;
}
.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.hero__desc {
    font-size: 65px;
    @include lifehack();
    line-height: 1.1;
}
  
.hero__content {
    display: flex;
    align-items: center;
  flex: .8;
  }
  
.hero__text {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    padding-top: 94px;
    padding-left: 10px;
} 

.hero__image-drops {
  position: absolute;
  top: 19%;
  left: -3%;
}