.menu__sections {
    position: relative;
    background-image: url(./images/menu/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-accordeon {
        position: absolute;
        top: 14%;
        left: 7%;
        color: white;
        text-align: start;
    }
}

.menu__accordeon-list {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
}

.menu__accordeon-item {
    display: flex;
    height: 100%;
}

// .menu__accordeon-item--active {
    
//     .menu__accordeon-text {
//         height: 100%;
//         width: 100%;
//         line-height: 2;
//         padding-top: 3rem;
//         padding-left: 2.5rem;
//         padding-right: 2.5rem;
//     }

//     .menu__accordeon-title {
//         color:#f9b43b ;
//     }
    
// }


.accordeon__link_meat {
    background-image: url(./images/menu/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: rem(80px);
    height: 100%;
}

.menu__accordeon-title {
    @include gagalin();
    font-size: rem(40px);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 100%;
    font-size: rem(30px);
    color: white;
    white-space: nowrap;
    padding: rem(40px) rem(15px);
}

.menu__accordeon-content {
    max-width: 43.125rem;
    background-color: #353334;
    opacity: 0.9;
}

.menu__accordeon-text {

    @include ubuntu();
    font-size: rem(14px);
    color: white;
    width: 0;
    overflow: hidden;
}

.accordeon__link_vegan {
    background-image: url(./images/menu/bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: rem(80px);
    height: 100%;
}

.accordeon__link_diet {
    background-image: url(./images/menu/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: rem(80px);
    height: 100%;
}