.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
  }

  .section__title {
    margin-bottom: 60px;
    font-size: 72px; 
    color: $yellow;
    @include gagalin();
    line-height: 1;
  
    &--centered {
      text-align: center;
    }
  
    &--colorBlack {
      color: $black;
    }
  }