.team {
    background-image: url(./images/team/team-bg.jpg);
    background-size: cover;
    position: relative;

    &__sections {
        margin: 20% 0 8%;
    }
}

.team__accordeon {
    color:#ffffff ;
    @include gagalin ();

    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-item {
        margin: 0 0 38px 0;
    }

    &-name {
        font-size: 14px;
        font-weight: normal;
    }

    &-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 650px;
        background-color: #343739;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.9;
    }

    &-triangle {
        position: relative;
        width: 10px;
        height: 10px;
        background-image: url(./images/team/triangle_down.png);
        background-repeat: no-repeat;
    }
}

.team__accordeon-name {
    padding-left: 7px;

    &-title, &-subtitle {
        margin: 0;
        font-size: 14px;
        @include ubuntu();
        font-weight: 800;
        line-height: 1.5;
    }

    &-subtitle {
        margin-top: 21px;
        @include ubuntu();
        font-weight: lighter;
    }

    &-img {
    border-radius: 50%;
    }

    &-content {
        display: flex;
        justify-content: center;
        height: 0;
        overflow: hidden;
    }

    &-text {
        width: 40%;
        padding: 0 0 0 19px;
    }
}

.team__accordeon-item-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 10px 100px;
}

.team__accordeon-item--active > .team__accordeon-item-wrapper {
    color: #f9b43b;
}

.team__accordeon-name-content--active {
        height: 100%;
}

.team__accordeon-triangle--active {
    align-self: flex-end;
    background-image: url(./images/team/triangle_up.png);
}