.player-section {
    background: url(./images/timeWorking/timeWorking_bg.jpg) center center;
    height: 100vh;
    background-size: cover;
    ;
}

.player-title {
    text-align: center;
    color:#3c3e40
}

.player {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    &__elem {
        position: relative;
    }

    &__controls {
        position: absolute;
        background-color: #3e3e3e;
        bottom: 0;
        left: 124px;
        width: 660px;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
}



