@charset "UTF-8";
/*! шрифты */
@font-face {
  font-family: 'lifehackmedium';
  src: url("./fonts/lifehack_medium-webfont.woff2") format("woff2"), url("./fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gagalinregular';
  src: url("./fonts/gagalin-regular-webfont.woff2") format("woff2"), url("./fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("./fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("./fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("./fonts/ubuntu-light-webfont.woff2") format("woff2"), url("./fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumedium';
  src: url("/fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("/fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("/fonts/ubuntu-b-webfont.woff2") format("woff2"), url("/fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.title {
  font-size: 72px;
  text-align: start;
}

.title__text {
  font-family: 'lifehackmedium' , Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: #ffffff;
  text-transform: initial;
  letter-spacing: -1.63px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  z-index: 5;
  position: fixed;
  right: 0;
  margin: 0 75px 0 0;
  height: 59%;
}

.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__menu-item {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

.sidebar__menu-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #ffffff;
}

.sidebar__menu-link {
  background-color: white;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-radius: 50%;
  color: #FFFFFF;
}

input:focus {
  border: 3px solid #f9b43b;
  outline: 0;
  outline-offset: 0;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  height: 80px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  cursor: pointer;
  outline: transparent;
  border: none;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 800;
  background: #e35028;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 15px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul li {
  list-style: none;
}

html, body {
  height: 100%;
}

.wpapper {
  overflow: hidden;
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 650px;
}

.section__title {
  font-size: 72px;
  color: #f9b43b;
  font-family: 'gagalinregular', Helvetica, sans-serif;
  line-height: 1;
}

.section__title--centered {
  text-align: center;
}

.section__title--colorBlack {
  color: #2f3234;
}

.features {
  background: url(./images/features-bg.jpg) center center/cover no-repeat;
}

.features__list {
  padding: 31px 0 0 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: calc(100% / 3 - 26px);
}

.reviews {
  background: black;
  height: 100vh;
  min-height: 650px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
}

.review {
  position: relative;
  color: #fff;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.review__username {
  font-family: 'gagalinregular', Helvetica, sans-serif;
}

.review__content {
  font-family: 'ubuntu', Helvetica, sans-serif;
  padding: 29px 0;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  width: 88%;
}

.review:hover .review__hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.review__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rewiew__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__hover {
  position: absolute;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .3s;
  transition: .3s;
}

.review__hover--active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.review__hover .btn {
  font-family: 'ubuntu', Helvetica, sans-serif;
  margin-right: 4%;
  background-color: #e45028;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  background-color: #1f2122;
}

.review__hover .btn:hover {
  background-color: #2f3234;
}

.feature {
  text-align: center;
}

.feature__title {
  font-family: 'lifehackmedium';
  font-size: 24px;
  padding: 30px 0 20px 0;
}

.feature__text {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: lighter;
}

.feature__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team {
  background-image: url(./images/team/team-bg.jpg);
  background-size: cover;
  position: relative;
}

.team__sections {
  margin: 20% 0 8%;
}

.team__accordeon {
  color: #ffffff;
  font-family: 'gagalinregular', Helvetica, sans-serif;
}

.team__accordeon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__accordeon-item {
  margin: 0 0 38px 0;
}

.team__accordeon-name {
  font-size: 14px;
  font-weight: normal;
}

.team__accordeon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 650px;
  background-color: #343739;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.team__accordeon-triangle {
  position: relative;
  width: 10px;
  height: 10px;
  background-image: url(./images/team/triangle_down.png);
  background-repeat: no-repeat;
}

.team__accordeon-name {
  padding-left: 7px;
}

.team__accordeon-name-title, .team__accordeon-name-subtitle {
  margin: 0;
  font-size: 14px;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1.5;
}

.team__accordeon-name-subtitle {
  margin-top: 21px;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: lighter;
}

.team__accordeon-name-img {
  border-radius: 50%;
}

.team__accordeon-name-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0;
  overflow: hidden;
}

.team__accordeon-name-text {
  width: 40%;
  padding: 0 0 0 19px;
}

.team__accordeon-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px 100px;
}

.team__accordeon-item--active > .team__accordeon-item-wrapper {
  color: #f9b43b;
}

.team__accordeon-name-content--active {
  height: 100%;
}

.team__accordeon-triangle--active {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-image: url(./images/team/triangle_up.png);
}

.menu {
  padding: 0  16px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  margin-left: 13px;
}

.menu__item:first-child:before {
  display: none;
}

.menu__link {
  margin-left: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  white-space: nowrap;
}

.hero {
  background: url(./images/fon1.png) center center;
  height: 100vh;
  background-size: cover;
  color: #fff;
  position: relative;
}

.hero__image {
  position: relative;
}

.hero__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.hero__desc {
  font-size: 65px;
  font-family: 'lifehackmedium';
  line-height: 1.1;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: .8;
      -ms-flex: .8;
          flex: .8;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
  padding-top: 94px;
  padding-left: 10px;
}

.hero__image-drops {
  width: 400px;
  height: 377px;
  position: absolute;
  top: 0;
}

.icon__scroll {
  width: 30px;
  height: 30px;
}

.menu__sections {
  position: relative;
  background-image: url(./images/menu/menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__sections-accordeon {
  position: absolute;
  top: 14%;
  left: 7%;
  color: white;
  text-align: start;
}

.menu__accordeon-content {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  position: absolute;
  width: 70%;
  right: 0;
  bottom: 0;
}

.menu__accordeon-item {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
}

.menu__accordeon-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.menu__accordeon-item-title {
  padding-top: 20px;
  font-family: 'gagalinregular', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  background-image: url(./images/menu/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__accordeon-item-subtitle {
  overflow: hidden;
  width: 0;
  background-color: #363232;
  opacity: 0.9;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
}

.menu__accordeon-item-content--active * {
  width: 100%;
  color: chocolate;
}

.contacts {
  background-image: url(./images/contacts/contacts_map-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footer__content {
  margin: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.footer__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact-street {
  padding: 10px 0;
}

.footer__icon {
  fill: #5a5a5a;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.footer__contact-contact-number {
  color: #da4d27;
}

.footer__contact-info-phone {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
}

.footer__social {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icon-fb {
  fill: white;
}

.footer {
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order-section {
  background-image: url(./images/form/form-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__wrapper {
  font-family: 'ubuntu', Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order {
  width: 50%;
}

.order__block {
  width: 100%;
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 10px 0;
}

.order__row .order__block:not(:first-child) {
  margin-left: 30px;
}

.order__input {
  border: 3px solid transparent;
  width: 100%;
  border-radius: 4px;
  padding: 8px 18px;
}

.order__title {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.form__element {
  margin-left: 20px;
  width: 50%;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

.form__input {
  margin-top: 5px;
  min-height: 8em;
  min-width: 90%;
  border-radius: 4px;
}

.switch-controls__buttons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch-controls__buttons > .switch-controls__elem:nth-child(2) {
  margin-left: 26px;
}

.switch-controls__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch-controls__elem-title {
  margin-left: 10px;
}

.form__radio {
  padding: 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__title {
  margin-left: 10px;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--none {
  font-weight: lighter;
  text-transform: initial;
  font-size: 14px;
  border: none;
  background: none;
  color: white;
}

.switch-controls__elem-title:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: border .1s linear;
  transition: border .1s linear;
}
/*# sourceMappingURL=main.css.map */